<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.molk.molkmjolk" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings"
            android:parentActivityName=".MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.molk.molkmjolk.MenuActivity" />
        </activity>
        <activity
            android:name=".Highscore"
            android:parentActivityName=".MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.molk.molkmjolk.MenuActivity" />
        </activity>
        <activity
            android:name=".Play"
            android:parentActivityName=".MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.molk.molkmjolk.MenuActivity" />
        </activity>
        <activity
            android:name=".About"
            android:parentActivityName=".MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.molk.molkmjolk.MenuActivity" />
        </activity>
        <activity
            android:name=".input_highscore"
            android:label="@string/title_activity_input_highscore" >
        </activity>
    </application>

</manifest>
